@mixin fade-color {
    background: linear-gradient(355deg, $primary 13%, $secondary 100%);    
}

// hover
@mixin element-hover {
    &:hover{
        transform: scale(1.01);
        transition: 200ms;
        box-shadow: 10px 10px 10px 1px darken($color: $shadow-color, $amount: 5%);
    }
}
@mixin article-nav-hover{
    &:hover{
        background-color: lighten($color: $primary, $amount: 30%);
        i{
            color: $primary;
        }
        @include element-hover;
    }
}

// shadow
@mixin card-shadow{
    box-shadow: 3px 3px 10px 1px $shadow-color;
}

// article-margin
@mixin article-padding{
    padding: 40px 20px;    
}
@mixin margin-top {
    margin-top: 30px;  
}
@mixin gap{
    gap: 15px;
}
@mixin h3-margin{
    padding-bottom: 5px;
}

// section-title margin
@mixin section-title-margin{
    padding: 30px 20px 10px 20px;    
}

// button-margin
@mixin button-margin {
    margin: 20px 0 60px 0;
    padding: 15px 40px;
}

// card home and menu
@mixin card-home {
    padding: 25px 0;
    border-radius: 15px;    
}
@mixin card-menu {
    padding: 10px;
    border-radius: 15px;
}

// heart icon
@mixin heart {
    .fas{
        color: transparent;
        background-image: linear-gradient(355deg, $primary 13%, $secondary 100%);
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        &:hover {
            transition: all 200ms ease-in-out;
            opacity: 1;
            scale: 1.1;
        }
    }    
}

// animation menu item
@keyframes appear{
    0%{
        transform: translateY(75%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}