@media screen and (min-width: 992px){
header,nav, main, footer{
    max-width: 1440px;
    margin: auto;
}
.function{
    padding: 20px;
    .function_items{
        flex-direction: row;
        justify-content: space-between;
        article{
            width: 32%;
        }
    }
}
.restaurant{
    .restaurant_items{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0;
    }
        a{
            width: 49%;
        }
}
.menu-page-header{
    max-width: 1440px;
    position: relative;
    i{
        position: absolute;
    }
}
.menu-main{
    img{
        height: 400px;
        width: 100%;
        object-fit: cover;
        object-position: 50% 65%;
    }
    .section_div{
        display: flex;
        justify-content: space-between;
        section{
            width: 33%;
        }
    }
}
footer{
    h5{
        display: flex;
        justify-content: center;
    }
    ul{
        display: flex;
        justify-content: space-around;
    }
}
}


@media screen and (max-width: 991px) and (min-width: 851px){
    nav{
        .nav-content{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            height: 365px;
            position: relative;
            p{
                font-size: 24px;
            }
            h2, p, button{
                width: 50%;
            }
        }
    }
    .function{
        position: absolute;
        top: 87px;
        right: 15px;
        width: 45%;
        padding: 20px;
        article{
            width: 95%;
            margin: auto;
            a{
                gap: 5%;
            }
        }
    }
    .restaurant{
        .restaurant_items{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: auto;
        }
        a{
            width: 49%;
        }
    }
    .menu-main{
        img{
            height: 400px;
            width: 100%;
            object-fit: cover;
            object-position: 50% 65%;
        }
        .section_div{
            padding: 20px;
            .menu-section{
                width: 80%;
                margin: auto;
                padding: 40px 0;
            }
        }
    }
    footer{
        h5{
            display: flex;
            justify-content: center;
        }
        ul{
            display: flex;
            justify-content: space-around;
        }
    }

}
@media screen and (max-width: 850px) and (min-width: 769px){
    nav{
        .nav-content{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            height: 365px;
            position: relative;
            p{
                font-size: 24px;
            }
            h2, p, button{
                width: 50%;
            }
        }
    }
    .function{
        position: absolute;
        top: 87px;
        right: 15px;
        width: 45%;
        padding: 20px;
        article{
            width: 95%;
            margin: auto;
            a{
                gap: 2%;
            }
        }
    }
    .restaurant{
        .restaurant_items{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: auto;
        }
        a{
            width: 48%;
            margin: auto;
        }
    }
    .menu-main{
        img{
            height: 400px;
            width: 100%;
            object-fit: cover;
            object-position: 50% 65%;
        }
        .section_div{
            padding: 20px;
            .menu-section{
                width: 80%;
                margin: auto;
                padding: 40px 0;
            }
        }
    }
    footer{
        h5{
            display: flex;
            justify-content: center;
        }
        ul{
            display: flex;
            justify-content: space-around;
        }
    }
}