/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Shrikhand&display=swap");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

body {
  max-width: 768px;
  margin: 0;
  font-family: "roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-weight: 800;
  font-size: 24px;
}

h3 {
  font-weight: 800;
  font-size: 18px;
}

h4 {
  font-weight: 600;
  font-size: 18px;
}

header .logo {
  background-color: #FFFFFF;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  box-shadow: 3px 3px 10px 1px #acacac;
}
header .logo img {
  height: 30px;
}
header .nav-location {
  margin-top: 5px;
  padding: 10px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #e0e0e0;
}
header .nav-location p {
  font-weight: 500;
}
header .nav-content {
  text-align: center;
  background-color: #F2F2F2;
  padding: 30px 40px 50px 40px;
  margin-bottom: 40px;
}
header .nav-content h1 {
  margin: 0;
  padding-bottom: 20px;
}
header .nav-content p {
  margin-bottom: 20px;
  color: #686868;
}
header .nav-content #explore {
  font-family: "roboto", sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  padding: 12px 17px;
  border: none;
  border-radius: 25px;
  background: rgb(147, 86, 220);
  background: linear-gradient(355deg, #9356DC 13%, #FF79DA 100%);
  box-shadow: 3px 3px 10px 1px #acacac;
}
header .nav-content #explore:hover {
  transform: scale(1.02);
  transition: 200ms;
  box-shadow: 8px 8px 8px 1px #acacac;
}
header .nav-content #explore:hover {
  transform: scale(1.02);
  transition: 200ms;
  box-shadow: 10px 10px 10px 1px #9f9f9f;
}

.function {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 50px;
  padding: 0 20px;
}
.function .article-nav a {
  display: flex;
  width: 95%;
  margin: auto;
  padding: 20px 0;
  text-decoration: none;
  color: inherit;
  border-radius: 20px;
  background-color: #F2F2F2;
  box-shadow: 3px 3px 10px 1px #acacac;
}
.function .article-nav a:hover {
  background-color: #e4d5f6;
}
.function .article-nav a:hover i {
  color: #9356DC;
}
.function .article-nav a:hover:hover {
  transform: scale(1.02);
  transition: 200ms;
  box-shadow: 10px 10px 10px 1px #9f9f9f;
}
.function .article-nav a div {
  display: flex;
  align-items: center;
}
.function .article-nav a div:nth-child(1) {
  width: 10%;
  margin-left: -10px;
}
.function .article-nav a div:nth-child(2) {
  width: 15%;
  justify-content: center;
}
.function .article-nav a div:nth-child(3) {
  margin-left: 10px;
}
.function .article-nav a span {
  padding: 2px 7px;
  color: #FFFFFF;
  border: 1px solid #9356DC;
  border-radius: 25px;
  background-color: #9356DC;
}
.function .article-nav a i {
  color: #686868;
}

.restaurant {
  background-color: #F2F2F2;
  padding: 50px 20px;
}
.restaurant h2 {
  margin-bottom: 20px;
}
.restaurant figure {
  margin-bottom: 30px;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 3px 3px 10px 1px #acacac;
}
.restaurant figure:hover {
  transform: scale(1.02);
  transition: 200ms;
  box-shadow: 10px 10px 10px 1px #9f9f9f;
}
.restaurant figure img {
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  object-position: bottom;
}
.restaurant figure figcaption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px 15px 15px;
}
.restaurant figure figcaption i {
  font-size: 22px;
}

footer {
  background-color: rgb(62, 62, 62);
  color: #FFFFFF;
}
footer h5 {
  font-family: "shrikhand";
  padding: 20px;
  font-size: 22px;
}
footer ul {
  list-style-type: none;
  padding: 0 20px 20px 20px;
  margin: 0;
}
footer ul li {
  margin-bottom: 5px;
}
footer ul li:nth-child(1) {
  font-weight: 500;
  display: flex;
  gap: 20px;
}
footer ul li:nth-child(2) {
  font-weight: 500;
  display: flex;
  gap: 14px;
}

/*# sourceMappingURL=style.css.map */
