/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Shrikhand&display=swap");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

header {
  background-color: #FFFFFF;
  padding: 5px;
  justify-content: center;
  box-shadow: 3px 3px 10px 1px #acacac;
}
header img {
  height: 30px;
}

nav .nav-location {
  margin-top: 5px;
  padding: 10px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #e0e0e0;
}
nav .nav-location p {
  font-weight: 500;
}
nav .nav-content {
  text-align: center;
  background-color: #F2F2F2;
  padding: 30px 40px 40px 40px;
  margin-bottom: -10px;
}
nav .nav-content h1 {
  margin: 0;
  padding-bottom: 20px;
}
nav .nav-content p {
  margin-bottom: 20px;
  color: #686868;
}
nav .nav-content #explore {
  font-family: "roboto", sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  padding: 12px 17px;
  border: none;
  border-radius: 25px;
  background: rgb(147, 86, 220);
  background: linear-gradient(355deg, #9356DC 13%, #FF79DA 100%);
  box-shadow: 3px 3px 10px 1px #acacac;
}
nav .nav-content #explore:hover {
  transform: scale(1.02);
  transition: 200ms;
  box-shadow: 8px 8px 8px 1px #acacac;
}
nav .nav-content #explore:hover {
  transform: scale(1.01);
  transition: 200ms;
  box-shadow: 10px 10px 10px 1px #9f9f9f;
}

.function {
  padding: 40px 20px;
  margin-top: 30px;
  gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.function .article-nav a {
  box-shadow: 3px 3px 10px 1px #acacac;
  display: flex;
  padding: 20px 0;
  text-decoration: none;
  color: inherit;
  border-radius: 20px;
  background-color: #F2F2F2;
}
.function .article-nav a:hover {
  background-color: #e4d5f6;
}
.function .article-nav a:hover i {
  color: #9356DC;
}
.function .article-nav a:hover:hover {
  transform: scale(1.01);
  transition: 200ms;
  box-shadow: 10px 10px 10px 1px #9f9f9f;
}
.function .article-nav a div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.function .article-nav a div:nth-child(2) {
  padding-left: 7%;
}
.function .article-nav a div:nth-child(3) {
  padding-left: 7%;
}
.function .article-nav a span {
  padding: 2px 7px;
  color: #FFFFFF;
  border: 1px solid #9356DC;
  border-radius: 25px;
  background-color: #9356DC;
}
.function .article-nav a i {
  color: #686868;
}

.restaurant {
  padding: 40px 20px;
  margin-top: 30px;
  gap: 15px;
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
}
.restaurant figure {
  box-shadow: 3px 3px 10px 1px #acacac;
  background-color: #FFFFFF;
  border-radius: 20px;
}
.restaurant figure:hover {
  transform: scale(1.01);
  transition: 200ms;
  box-shadow: 10px 10px 10px 1px #9f9f9f;
}
.restaurant figure .image-restaurant {
  position: relative;
}
.restaurant figure .image-restaurant img {
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  object-position: 50% 75%;
}
.restaurant figure .image-restaurant .new {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 5px 10px;
  font-weight: 500;
  color: #2c9c81;
  border: 1px solid #2c9c81;
  border-radius: 3px;
  background-color: #99E2D0;
}
.restaurant figure figcaption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px 15px 15px;
}

.restaurant img {
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  object-position: bottom;
}

footer {
  background-color: rgb(62, 62, 62);
  color: #FFFFFF;
}
footer ul {
  list-style-type: none;
  padding: 0 20px 20px 20px;
  margin: 0;
}
footer ul li {
  margin-bottom: 5px;
}
footer ul li:nth-child(1) {
  font-weight: 500;
  display: flex;
  gap: 20px;
}
footer ul li:nth-child(2) {
  font-weight: 500;
  display: flex;
  gap: 14px;
}

body {
  max-width: 768px;
  margin: 0;
  font-family: "roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: "shrikhand";
  font-size: 30px;
}

h2 {
  font-weight: 800;
  font-size: 24px;
}

h3 {
  font-weight: 400;
  width: 45px;
  border-bottom: 3px solid #99E2D0;
  font-size: 18px;
}

h4 {
  font-weight: 600;
  font-size: 18px;
}

h5 {
  font-family: "shrikhand";
  padding: 20px;
  font-size: 22px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}
header h1 {
  width: 60%;
  margin: auto;
}

.image-page-menu {
  width: 100%;
  object-fit: cover;
}

section {
  background-color: #F2F2F2;
}
section .section-title {
  padding: 30px 20px 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px 30px 0 0;
  background-color: #F2F2F2;
  position: relative;
  margin-top: -40px;
}
section .menu-page-article {
  padding: 40px 20px;
  gap: 15px;
  display: flex;
  flex-direction: column;
}
section .menu-page-article h3 {
  padding-bottom: 5px;
}
section .card {
  box-shadow: 3px 3px 10px 1px #acacac;
  font-family: "roboto", sans-serif;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 20px;
  padding: 10px;
}
section .card:hover {
  transform: scale(1.01);
  transition: 200ms;
  box-shadow: 10px 10px 10px 1px #9f9f9f;
}
section .button-order {
  width: 100%;
  display: flex;
  justify-content: center;
}
section .button-order .order {
  font-family: "roboto", sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  padding: 12px 17px;
  border: none;
  border-radius: 25px;
  background: rgb(147, 86, 220);
  background: linear-gradient(355deg, #9356DC 13%, #FF79DA 100%);
  box-shadow: 3px 3px 10px 1px #acacac;
  margin: 20px 0 60px 0;
  padding: 15px 40px;
}
section .button-order .order:hover {
  transform: scale(1.02);
  transition: 200ms;
  box-shadow: 8px 8px 8px 1px #acacac;
}

/*# sourceMappingURL=style.css.map */
