.function{
    @include article-padding;
    @include margin-top;
    @include gap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .function_items{
        display: flex;
        flex-direction: column;
        @include gap;
    }
    .article-nav a{
        @include card-shadow;
        @include article-nav-hover;
        @include card-home;
        display: flex;
        text-decoration: none;
        color: inherit;
        background-color: $background-color;
        div{
            display: flex;
            align-items: center;
            justify-content: space-between;
            &:nth-child(2){
                padding-left: 7%;
            }
            &:nth-child(3){
                padding-left: 7%;
            }
        }
        span{
            margin-left: -10px;
            padding: 2px 7px;
            color: $card-color;
            border-radius: 25px;
            background-color: $primary;
        }
        i{
            color: $grey-color;
        }
    }
}

.restaurant{
    @include article-padding;
    @include margin-top;
    @include gap;
    display: flex;
    flex-direction: column;
    background-color: $background-color;
    .restaurant_items{
        display: flex;
        flex-direction: column;
        @include gap
    }
    figure{
        @include element-hover;
        @include card-shadow;
        background-color: $card-color;
        border-radius: 20px;
        .image-restaurant{
            position: relative;
            img{
                width: 100%;
                height: 200px;
                border-radius: 20px 20px 0 0;
                object-fit: cover;
                object-position: 50% 70%;
            }
            .new{
                position: absolute;
                top: 15px;
                right: 15px;
                padding: 5px 10px;
                font-weight: 500;
                color: darken($color: $tertiary, $amount: 35%);
                border: 1px solid darken($color: $tertiary, $amount: 35%);
                border-radius: 3px;
                background-color: $tertiary;
            }
        }
        figcaption{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 25px 15px 15px;
            position: relative;
            @include heart;
            i{
                font-size: 24px;
                top: 30%;
                right: 30px;
                position: absolute;
            }
        }
    }
}
