header{
    display: flex;
    align-items: center;
    justify-content: center;
    div{
    }
    h1{
        width: 60%;
        margin: auto;
    }
}
.image-page-menu{
    width: 100%;
    object-fit: cover;
}
section{
    background-color: $background-color;
    .section-title{
        @include section-title-margin;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 30px 30px 0 0;
        background-color: $background-color;
        position: relative;
        margin-top: -40px
    }
    
    .menu-page-article{
        @include article-padding;
        @include gap;
        display: flex;
        flex-direction: column;
        h3{
            @include h3-margin;
        }
    }
    
    .card{
        @include card-menu;
    }
    
    .button-order{
        width: 100%;
        display: flex;
        justify-content: center;
        .order{
            @include button;
            @include button-margin;
        }
    }
}