.image-page-menu{
    width: 100%;
    object-fit: cover;
}
.menu-main{
    background-color: $background-color;
    
    .menu-section{
        @include article-padding;
        @include gap;
        display: flex;
        flex-direction: column;
        h3{
            @include h3-margin;
        }
        .menu{
            @include card-shadow;
            @include element-hover;
            font-family: $bodyfont;
            border-radius: 20px;
            display: flex;
            justify-content: space-between;
            &:hover{
                .check{
                    margin-right: -1px;
                    transition: 500ms;
                    i{
                        transform: rotate(-360deg);
                        transition: 550ms;
                    }
                }
            }
        }
            .menu-card{
                padding: 10px;
                width: 230px;
                h4, p{
                    text-overflow: ellipsis;               
                }
            }                           
            .price{
                display: flex;                
                overflow: hidden;
                p{
                    display: flex;
                    align-items: flex-end;
                    margin: 0 20px 10px 10px;
                }
                .check{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 70px;
                    height: 100%;
                    background-color: $tertiary;
                    border-radius: 0 20px 20px 0;
                    color: white;
                    font-size: 24px;
                    margin-right: -73px;
                }
            }
    }
    .button-order{
        width: 100%;
        display: flex;
        justify-content: center;
        .order{
            @include button;
            @include button-margin;
        }
    }
}